.title {
    font-size: 48px;
    text-align: center;
    background-color: silver;
    margin: 0%;
}

.login {
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    margin-top: 15%;
    padding-bottom: 5%;
    background-color: bisque;

}

.homenav {
    background-color: bisque;
    height: 100%;
    float: left;
    position: fixed;
    width: 250px;
}

.homenavlinks {
    padding: 15px;
    font-size: 25px;
    display: block;
    background-color: whitesmoke;
    margin: 10px;
}

.homecontent {
    margin-left: 250px;
    padding-left: 10px;
}