{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Stocktake
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stocktake/style.css' %}">
{% endblock %}

{% block content %}
   <form method="post", class='stocktake_form'>
    {% csrf_token %}
    {{ formset.management_form }}
    {{ sales.management_form }}

    <input type="hidden" name="page" value="{{ page_obj.number }}">

    <table>
         <tr style="margin: 20px">
            <td class='stocktake_table'>Sales</td>
            <td class='stocktake_table'> {{ sales.sales }}</td>
        </tr>
        {% for form in formset %}
        <tr>
            <td class='stocktake_table'>{{ form.instance.name }}</td>
            <td class='stocktake_table'>{{ form.counted }}</td>
            {{form.id}}
        </tr>
        {% endfor %}
    </table>

    {% if not page_obj.has_next %}
        <button type="submit", name ='final', class='stocktake_buttons'>Submit Stocktake</button>
    {% endif %}
    <button type="submit", name='save', class='stocktake_buttons'>Quit</button>
    {% if page_obj.has_previous %}
        <button type="submit", name="prev">⬅ Prev</button>
    {% endif %}

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <button type="submit", name="next">Next ➡</button>
    {% endif %}
</form>
{% endblock %}