#login {
    background-color: bisque;
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 40px;
    padding: 35px;
    padding-bottom: 60px;
}

#login_button {
    background-color: beige;
    margin-bottom: 30px;
    padding: 8px;
    width: 100px;
    border-width: 1px;
    border-radius: 2px;
}

#login_inputs {
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
}